@import "../../theme.css";

.card {
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	padding: 5px;
	box-shadow: 2.5px 2.5px 15px;
	max-width: 400px;
	min-width: 400px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
}

.card:hover {
	box-shadow: 5px 5px 15px var(--purple-dark);
}

.title {
	font-size: 40px;
}

.likes {
	text-align: right;
}

.paw-print {
	width: 25px;
	cursor: pointer;
}

.photo {
	width: 150px;
	max-width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

.instagram {
	width: 400px;
	max-width: 400px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}
.instagram > div > Header {
	display: none;
}

.video {
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

.description {
	margin: 5px;
	display: flex;
	flex-direction: row;
	text-align: left;
}
.description span{
	font-weight: 700;
}

.how-to {
	margin: 5px;
	text-align: left;
}

.category {
	margin: 5px;
	text-align: left;
}
