@import "../../theme.css";

/* this is close, but not 100% */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--background-light);
  color: var(--font-dark);
  text-align: center;
  padding: 10px 0;
}

.content-above-footer {
  margin-bottom: 80px;
}

.social-links {
	transition: all 0.3s ease;
}

.social-links a {
  color: var(--font-dark);
  font-size: 20px;
  margin: 0 10px;
	transition: all 0.3s ease;
}

.social-links a:hover {
	color: var(--purple-dark);
}

.footer-info {
  margin-bottom: 10px;
}

.footer-info p {
  margin: 0;
  padding: 5px;
}

.footer-info a {
  color: var(--font-dark);
  text-decoration: none;
	transition: all 0.3s ease;
}

.footer-info a:hover {
	color: var(--purple-dark);
}
